node_modules
.env
.next
out
.cache
.DS_Store
Thumbs.db

# Firebase
**/firebaseServiceAccount.json
**/firebase-adminsdk*.json
**/firebase-service-account*.json

# Other secrets
**/*.pem
**/*.key
**/credentials.json
**/package-lock.json
**/backend/package-lock.json