node_modules
.env
.next
out
.cache
.DS_Store
Thumbs.db

# Firebase
**/firebaseServiceAccount.json
**/firebase-adminsdk*.json
**/firebaseServiceAccount.json

# Other secrets
**/*.pem
**/*.key
**/credentials.json